<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Motor</title>
</head>
<body>
<h1>Edit motor</h1>
<p>
    <a th:href="@{/motors}">Motor list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/motors/edit}" th:object="${motor}" method="post" novalidate="novalidate" enctype="multipart/form-data">
<!--    <input th:type="hidden" name="id" th:field="*{id}">-->
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update motor"></td>
        </tr>
    </table>
</form>
</body>
</html>